# Database URL для приложения
DATABASE_URL=postgresql://user:password@localhost:5432/music_store

# Секретный ключ
SECRET_KEY=your-secret-key-here

# Настройки PostgreSQL для docker-compose
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=music_store