# Database URL для приложения (пока SQLite, позже PostgreSQL)
DATABASE_URL=sqlite:///./music_store.db

# Настройки PostgreSQL для docker-compose
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=music_store
